$verde_escuro_custom: #60C179 !default;
$verde_luz_custom: #87CC96 !default;
$cinza_custom: #cccccc;
$cinza_escuro_custom: #666666 !default;
$preto_custom: #353535 !default;
$laranja_custom: #F7C97C !default;